.unconfirmed {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.unconfirmed .userdata {
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userdata button{
    background-color: inherit;
    font-size: inherit;
    border: inherit;
    font-weight: 600;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.userdata button:hover{
    font-weight: 500;
    text-decoration-line:underline;
}