.admin {
    display: grid;
    grid-auto-rows: 80px;
    grid-template-areas: 
    "p"
    "btn btn btn";
    gap: 5vw;
    margin: 20px;
}

.admin p {
    text-align: center;
    grid-column: span 3;
    font-size: 2rem;
}

.admin button {
    grid-row-start: 2;
    background-color: #3d9;
    border-radius: 8px;
    border: 0px solid transparent;
    transition: 0.3s;
    font-size: 2rem;
    box-shadow: 2px 2px 7px #3e9;
}

.admin button:hover {
    box-shadow: 10px 10px 10px #3e9;
}

.admin button:active {
    box-shadow: 5px 5px 5px #3e9;
}